@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
/* set colors */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

/* font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: "weight";
  font-style: normal;
}

/* for sweet alert */
.swal-custom-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(
    --primary-color,
    #0d9488
  ); /* fallback if variable not set */
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-out;
  border: none;
  cursor: pointer;
}

.swal-custom-btn:hover {
  box-shadow: 0 0 0 2px var(--primary-color, #0d9488);
  outline-offset: 2px;
}
